body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.display {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#display {
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}

.span-two {
    grid-column: span 2;
}
